<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>DjangoGrils Tutorial</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
  <div class="container">
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
    <div>
      <p>published: {{ post.published_date}}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.content|linebreaksbr|truncatewords:30 }}</p>
    </div>
    <br>
    {% endfor %}
  </div>
</body>
</html>